
#knowledgeGraphView {
  position: absolute;
  top: 64px;
  left: 55px;
  right: 300px;
  height: 100%;
  background-color: #f8f8f8;

  #knowledgeGraph {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }

  .legend-container {
    position: absolute;
    padding-top: 10px;
    width: 100%;
    z-index: 2;
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    opacity: 0.9;

    ul {
      list-style: none;
      padding: 10px 0;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .graph-options {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 210px;
    background-color: #E0E0E0;
    z-index: 100;

    .zmdi {
      display: inline-block;
      padding: 16px 16px;
      color: #666;
      font-size: 21px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #CCC;
      }
    }
  }
}
