
#competencyGraph {
  position: absolute;
  top: 100px;
  left: 55px;
  right: 250px;
  height: 100%;
  background-color: #f8f8f8;

  .legend-container{

    margin-bottom: -12px;
    text-align: center;
    background-color: #D8DFE3;

    ul{
      list-style: none;
      padding: 10px 0;
    }

    li{
      display: inline-block;
      margin: 0 10px;
    }
  }
}
