
<template name="nodeInputComponent">
  <div class="node-input">
    {{#if searchDisplay}}
      <div>
        <input type="text" class="search form-control" placeholder="Search">
      </div>
    {{else}}
      <div class="btn btn-block btn-primary show-input">+ Add</div>
    {{/if}}
    <div class="search-list">
      <ul class="list-group">
        {{#each searchResult}}
          <li class="list-group-item">
            {{name}}
            <button type="button" class="btn btn-xs btn-primary add pull-right">+</button>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="list-b">
      {{#if items}}
        <ul class="list-group">
          {{#each items}}
            <li class="list-group-item">
              {{name}}
              <button type="button" class="btn btn-xs btn-primary remove pull-right">x</button>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</template>
