
.gs-access-management {
  >.panel {
    padding: 20px;

    form {
      margin-bottom: 10px;

      input, select {
        font-size: 14px;
      }

      .btn {
        outline: none;
      }
    }

    table {
      .center {
        text-align: center;
      }

      .remove {
        font-size: 18px;
        cursor: pointer;
      }
    }

    .well {
      border: 1px solid #eee;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10), 0 1px 1px rgba(0, 0, 0, 0.14);
    }
  }
}
