
.ce-main {
  padding: 22px;

  .panel-a {
    .panel-body {
      .node-number {
        display: inline-block;
        float: left;
        color: #888;
        font-weight: bold;
        padding-right: 8px;
      }

      .wide-text-edit {
        display: inline-block;
        margin: 0;
        padding: 0;
        outline: none;
        width: 90%;
        background-color: #F0F0F0;
      }
    }
  }
}
