

body {
  margin-top: @layout-body-margin-top;
  background-color: @color-body;
}

.container-a {
  margin-left: @layout-left-menu-width + @layout-editor-browser-width;
  margin-right: @layout-editor-details-width;

  .container-inner {
    padding: 22px;
  }
}

.container-b {
  margin-left: @layout-left-menu-width;
}

.container-c {
  margin-left: 314px;
  padding: 50px;
}

#iron-router-progress {
  background-color: #3F51B5;
  box-shadow: 0 0 5px #777;
}

.-autocomplete-container {
  margin-top: 20px !important;
}

.editable-text {
  height: 100%;
}

.wide-text-edit, .text-area-edit {
  display: block;
  width: 90%;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #F0F0F0;
}

.modal-dialog {
  .close {
    outline: none;
  }
}
