
.sidebar-c {
  position: fixed;
  top: 64px;
  right: 0;
  width: 300px;
  height: 100%;
  border-left: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow-y: scroll;

  .sidebar-header {
    min-height: 140px;
    padding: 20px 30px;
    color: white;
    background: #3F51B5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    .row-a {
      min-height: 20px;

      .zmdi {
        float: right;
        font-size: 18px;
        margin-left: 14px;
        cursor: pointer;
      }
    }

    .row-b {
      h3 {
        font-size: 18px;
        color: white;
      }
    }
  }

  .sidebar-body {
    padding: 5px 15px 15px 20px;

    h4 {
      margin-top: 40px;
      font-size: 16px;
    }

    .list-side-a {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
