
.sidebar-c {
  position: fixed;
  top: 64px;
  right: 0;
  width: 265px;
  height: 100%;
  padding: 15px;
  border-left: 1px solid #ccc;

  h3 {
    margin: 0px;
    padding: 10px 20px 10px 0px;
    font-size: 14px;
    line-height: 25px;

    span {
      vertical-align: middle;
    }
  }
}
