
.navbar-default {
  .active-users-component {
    display: inline-block;
    padding-right: 28px;

    ul {
      list-style: none;
      padding: 15px 0px 0px 0px;

      li {
        float: right;
        margin-right: 7px;
        cursor: pointer;

        .image-container {
          width: 40px;
          height: 36px;
          text-align: center;
          overflow: hidden;

          img {
            min-width: 40px;
            max-width: none;
            height: 40px;
            margin: 0 -100%;
          }
        }

        .label {
          display: inline-block;
          width: 40px;
          height: 36px;
          padding: 9px;
          color: #444;
          font-size: 17px;
          text-align: center;
          font-weight: normal;
          border-radius: 0;
          background-color: #f1f1f1;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }
      }
    }
  }
}
