
.navbar-default {
  min-height: 45px;

  .navbar-brand {
    height: 45px;
    padding: 13px 21px;
    color: #444;

    img {
      float: left;
      margin-right: 15px;
    }
  }

  .navbar-nav {
    padding-right: 40px;

    li {
      a {
        padding-top: 10px;
        padding-bottom: 12px;
      }
    }
  }
}
