.navbar-default {
  .navbar-brand {
    padding: 19px 15px 0px;

    img {
      display: inline-block;
      float: left;
    }

    span {
      display: inline-block;
      padding: 4px 8px;
      font-size: 22px;
    }
  }

  .navbar-nav {
    padding-right: 50px;

    .zmdi {
      font-size: 20px;
      vertical-align: top;
    }
  }
}
